<body>
  <div class=container>
    <h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">Bemutatkozás</div>
        <div class="col-md-1"></div>
      </div>
    </h2>
    <br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        Bizonytalan időkben élünk, egy felgyorsult világban, ami kiszámíthatatlan jövőt tartogat számunkra és
        szeretteink
        számára.
        15 éve dolgozom a Generali Biztosító Zrt-nél értékesítéstámogatási területen.
        Az évek alatt számtalan oldalról megismerhettem ezt a szakmát a változatos munkakörömnek köszönhetően.
        <br>
        Többek között az ügyfélszolgálati tevékenység volt az ami megmutatta nekem milyen fontos is a mai rohanó
        világban,
        hogy legyen az embernek egy megbízható biztosítási tanácsadója, aki igyekszik a legjobbat kihozni az ügyfél
        helyzetéből.
        <br>
        Mi a Generalinál hiszünk abban, hogy személyre szabott megoldások mellett élethosszig tartó partnerséget
        kínálhatunk az ügyfeleinknek.
        Apró lépésekkel segítjük ügyfeleinket felkészülni a holnapra, a jövő fontos állomásaira, és az eközben
        bekövetkező
        váratlan eseményekre.
      </div>
      <div class="col-md-2">
        <img src="/assets/keprolam.png" class="img-fluid ">
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>

    <h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">Miért a Generali?</div>
        <div class="col-md-1"></div>
      </div>
    </h2>
    <br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        Az <strong>idén 190 éves „oroszlános biztosító”</strong> 1831-ben Triesztben kezdte tevékenységét.
        Kevés márka büszkélkedhet ilyen gazdag és hosszú múlttal.
        Mára már egy 50 országban működő vállalatcsoporttá vált, és az egyik vezető biztosító a világon.
        <br>
        Felelős biztosítóként kiemelt figyelmet fordítunk a minket körülvevő közösségekre is.
        Célunk, hogy tevékenyen óvjuk és jobbá tegyük az emberek életét, ennek szellemében működünk.
        Fontosnak tartjuk, hogy aktívan hozzájáruljunk egy egészségesebb és fenntarthatóbb társadalom
        létrehozásához.
        <a href="http://localhost:4200/generali">Tovább</a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>

    <h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">Szakterületeim</div>
        <div class="col-md-1"></div>
      </div>
    </h2>
    <br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><img src="/assets/nyugdij.png" style="width:50px;">Nyugdíjbiztosítás</div>
          <div class="col-md-3"><img src="/assets/elet.png" style="width:50px;">Életbiztosítás</div>
          <div class="col-md-3"><img src="/assets/baleset.png" style="width:50px;">Egészség- és baleset</div>
          <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><img src="/assets/vagyon.png" style="width:50px;">Vagyonbiztosítás</div>
          <div class="col-md-3"><img src="/assets/felelosseg.png" style="width:50px;">Felelősségbiztosítás</div>
          <div class="col-md-3"><img src="/assets/gep.png" style="width:50px;">Gépbiztosítás</div>
          <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><img src="/assets/gepjarmu.png" style="width:50px;">Gépjárműbiztosítás</div>
          <div class="col-md-3"><img src="/assets/lakas.png" style="width:50px;">Lakásbiztosítás</div>
          <div class="col-md-3"><img src="/assets/tarsashaz.png" style="width:50px;">Társasházbiztosítás</div>
          <div class="col-md-1"></div>
        </div>

      </div>
      <div class="col-md-1"></div>
    </div>



    <br>

    <h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">Hírek a nagyvilágból</div>
        <div class="col-md-1"></div>
      </div>
    </h2>
    <br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">


        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="/assets/hir.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hír címe</h5>
                <p class="card-text">Itt lesz néhány mondatban leírva a hír legfontosabb információja.</p>
                <a href="#" class="btn btn-primary">Ugrás a hírre</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="/assets/hir.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hír címe</h5>
                <p class="card-text">Itt lesz néhány mondatban leírva a hír legfontosabb információja.</p>
                <a href="#" class="btn btn-primary">Ugrás a hírre</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="/assets/hir.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hír címe</h5>
                <p class="card-text">Itt lesz néhány mondatban leírva a hír legfontosabb információja.</p>
                <a href="#" class="btn btn-primary">Ugrás a hírre</a>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <br>

      </div>
      <div class="col-md-1"></div>
    </div>

    <h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">Partnereink</div>
        <div class="col-md-1"></div>
      </div>
    </h2>
    <br>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <a href="https://www.generali.hu/" target="_blank">
          <img src="/assets/logogenerali.PNG" style="width:160px;"></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.fundamenta.hu/" target="_blank">
          <img src="/assets/logofula.PNG" style="width:180px;"></a>
      </div>
      <div class="col-md-2">
        <a href="https://eub.hu/" target="_blank">
          <img src="/assets/logoeub.PNG" style="width:160px;"></a>
      </div>
      <div class="col-md-2">
        <a href="https://alapitvany.generali.hu/rolunk" target="_blank">
          <img src="/assets/logoalapitvany.PNG" style="width:160px;"></a>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>

  </div>

</body>