<body>
    <div class=container>
        <h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">MI A GENERALI</div>
                <div class="col-md-1"></div>
            </div>
        </h2>
        <h4>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">Biztos pont vagyunk ügyfeleink életében 1831 óta</div>
                <div class="col-md-1"></div>
            </div>
        </h4>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <iframe style="display: block; margin: auto;" width="700" height="395"
                    src="https://www.youtube.com/embed/VprQTIn_SJE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <h5>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    A biztonság a tervezésnél kezdődik. Apró lépésekkel készülünk a holnapra, a közeli vagy távolabbi
                    jövőnk fontos állomásaira. És közben tudatosan felkészülünk a váratlan helyzetekre is: megelőzéssel
                    és egy stabil háttér felépítésével. Mi, a Generali közössége büszkék vagyunk rá, hogy
                    <strong>hazánkban
                        több
                        mint 900 000 ügyfelünket</strong> segítjük élethosszig tartó partnerként, hogy életük és álmaik
                    megóvásával
                    biztonságosabb jövőt építhessenek.
                    <br><br>
                    A magyar Generali Csoport közvetlen tulajdonosa a Generali CEE Holding, mely prágai régiós
                    központján
                    keresztül végzi a tevékenységét. A Holding az egyik legnagyobb biztosító a kelet-közép-európai
                    régióban.
                    <br><br>
                    2020-ben elnyertük Magyarországon a <strong>BCSDH Társadalmi felelősségvállalás díját</strong>,
                    melyet a
                    Magyarországi
                    Üzleti tanács kifejezetten erre az évre, és a pandémia helyzetre való tekintettel hozott létre.
                    Szintén
                    2020-ban ötből négy kategóriában a Generali Biztosító Zrt. nyerte el a legszínvonalasabb
                    szolgáltatást
                    nyújtó biztosítóknak járó <strong>Biztosítási Nagydíjat</strong>, amit minden évben a FBAMSZ, azaz a
                    Független
                    Biztosítási alkuszok Magyarországi Szövetsége ítél oda. Méltán mondhatjuk, hogy ügyfeleink is
                    biztonságban vannak az „oroszlán szárnyai alatt”.
                    <br><br>
                    Felelős biztosítóként kiemelt figyelmet fordítunk a minket körülvevő közösségekre is. Célunk, hogy
                    tevékenyen óvjuk és jobbá tegyük az emberek életét, ennek szellemében működünk. Fontosnak tartjuk,
                    hogy aktívan hozzájáruljunk egy egészségesebb és fenntarthatóbb társadalom létrehozásához.
                    <br><br>
                    <strong>Stratégiánk három fő pillére:</strong> a profitábilis növekedés, a tőkemenedzsment és
                    pénzügyi
                    optimalizáció,
                    valamint az innováció és digitális transzformáció.
                    <br><br>
                    <strong>Három kulcstényező, amire építünk:</strong> felhatalmazott munkatársak, erős márka és a
                    fenntarthatóság.
                </div>
                <div class="col-md-1"></div>
            </div>
        </h5>
        <br>
    </div>
</body>