<body>
    <div class=container>
        <h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    Nyugdíjbiztosítás – hogy felhőtlenek legyenek a nyugdíjas éveink
                    <br><br>
                    <h3>De miért is van szükségünk nyugdíjmegtakarításra?</h3>
                    <br>
                </div>
                <div class="col-md-1"></div>
            </div>
        </h2>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                Egyre több statisztika kimutatja, hogy az elöregedő társadalom miatt a jelenlegi nyugdíjrendszer egyre
                nehezebben tudja kiszolgálni az igényeket. A várható nyugdíjunk értéke nehezen kiszámítható.
                <br>
                Sokan úgy vélik, hogy a nyugdíj mellett majd kiegészítő munkát vállalnak, pótolva ezzel a hiányzó anyagi
                forrást. A jelenlegi munkaerőpiaci helyzet viszont nem igazán nyitott az érettebb korúak
                foglalkoztatására, sőt kifejezetten az aktív korú, teljes munkaidős munkavállalókat részesítik előnyben.
                <br>
                Ezen kívül gondolnunk kell az egészségünk megromlásával járó váratlan kiadásokra is (gyógyszerek, orvosi
                kezelések költségei), melyekkel nem szeretnénk a család keresőképes tagjait terhelni.
                <br>
                Mindannyian kiegyensúlyozott, boldog nyugdíjasévekre vágyunk. Az öngondoskodás a kulcsa annak, hogy az
                évek során megszokott életszínvonalat a későbbiekben is fenn tudjuk tartani.
                <br><br>
            </div>
            <div class="col-md-4">
                <img src="/assets/nyugdijaspar.jpg" class="img-fluid ">
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                Mivel az államnak is érdeke, hogy a jövőben minél kevesebb ember támaszkodjon kizárólag a közös
                nyugdíjkasszára, ezért a nyugdíjcélú megtakarítási formákat akár 20%-os személyi
                jövedelemadó-visszatérítéssel támogatja.
                <br><br>
                A jelenlegi statisztikák szerint itthon 4 dolgozóra 3 eltartott jut. A nyugdíjminimum 2019-ben
                mindösszesen 28 500 Ft volt.
                <br><br>
                A következő linkre kattintva megtekintheti várható nyugdíjának értékét:
                <br><br>
                <div class=center>
                    <h2>
                    <a href="https://kiszamolo.com/nyugdijkalkulator/" target="_blank" text-align="center">Nyugdíjkalkulátor</a>
                    </h2>
                </div>
                <br><br>
                Az alábbiakban kérem tekintse meg milyen biztosítási termékeket kínál a Generali
                Biztosító, hogy segítse Önt a megfelelő döntésben:
                <br><br>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Nyugdíjbiztosítás
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                A <strong>nyugdíjbiztosítás</strong> segít megalapozni a gondtalan nyugdíjas éveket! Nem
                                csak a
                                befizetett rendszeres vagy egyszeri díjak, hanem az eseti befizetések után is 20%-os
                                adójóváírást vehetsz igénybe, évente maximum
                                130 000 Ft értékben, ahogy azt már a termékek menüben is részleteztem.
                                <br>
                                A befektetés jellege szerint megkülönböztetünk klasszikus, valamint befektetési
                                egységhez kötött (unit linked) nyugdíjbiztosításokat.
                                <br> <br>
                                <strong>Befektetéshez kötött nyugdíjbiztosítások:</strong> Ezek a biztosítási termékek
                                segítenek
                                megalapozni a nyugdíjat éveket. Az élet-, baleset-, egészségbiztosítási védelmet igény
                                szerint lehet benne alakítani. A szolgáltatás a biztosítás megkötésekor érvényes
                                nyugdíjkorhatár elérésekor kezdődik, vagy nyugdíjba vonuláskor, vagy 39%-ot meghaladó
                                egészségkárosodás esetén. A biztosított halála esetén kedvezményezett megjelöléssel
                                elkerülhető az örökléssel kapcsolatos ügyintézések.
                                <br><br>
                                Termékek: <strong>Generali MyLife, Generali MyLife Extra, Generali MyLife Prémium,
                                    Generali
                                    MyLife Egyszeri díjas biztosítások (a termékekről részletesebben személyesen tudom
                                    tájékoztatni)</strong>
                                <br><br>
                                Ha nem szeretné folyamatosan az árfolyamokat figyelni, PortfólióMenedzser
                                szolgáltatásunkkal segítjük a befektetései megfelelő nyomonkövetését.
                                Generali MyPlan klasszikus nyugdíjbiztosítás: Egy szerződésen belül megtakarítási és
                                biztosítási védelmet is nyújtunk, melyet kiegészítő biztosításokkal tovább növelhetsz.
                                Annak ajánljuk, aki inkább kockázatkerülő, és nem szeretne a megtakarításainak
                                rendszeres befektetésével foglalkozni. Valamint akinek legalább még 10 éve van hátra a
                                nyugdíjig.
                                <br><br>
                                <strong>Generali aktív megtakarítás:</strong> Kiegészítő megtakarítási program
                                nyugdíjbiztosításokhoz.
                                Előnyei: már 30 000 Ft egyszeri díjjal is el lehet indítani a megtakarítást. Díjmentes
                                biztosítási védelem. Az első évben kiegészítő biztosítást adunk ajándékba, tragédia
                                esetén minimum 100 000 Ft biztosítási összeget fizetünk ki. Rugalmas, bármikor lehet
                                belőle pénzt kivenni, illetve a megtakarítást növelni.
                                <br><br>
                                <strong>Borostyánkő járadékbiztosítás:</strong> Azonnali megoldás nyugdíjkiegészítésre.
                                Előnyei: akár 89
                                éves korig megköthető. Rendszeres és fix összegű bevétel-kiegészítéssel tervezhetsz
                                havonta. Az egyszeri díj befizetése után indul el a járadékfolyósítás. Az átutalásos
                                havi kifizetés esetén nincs költsége.
                                <br>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    ÖNYP - Önkéntes nyugdíjpénztár
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    A <strong>nyugdíjpénztár</strong>
                                    egy külön törvényben szabályozott, az önkéntesség elvén működő
                                    non-profit intézmény, mely lehetőséget teremt tagjai számára, hogy aktív éveik
                                    alatt, aktív éveik jövedelméből, biztonságos és hatékony módon előtakarékoskodjanak
                                    nyugdíjas éveikre.
                                    <br>
                                    Az adójóváírás itt is jelentős plusz megtakarítást jelenthet, ugyanis az állam ezt a
                                    nyugdíjcélú öngondoskodást is támogatja.
                                    <br>
                                    A nyugdíjbiztosításhoz hasonlóan itt is az
                                    éves befizetések akár 20%-át is vissza lehet igényelni szja-visszatérítés
                                    formájában, amit ennél a megtakarítási formánál évi 150 000 Ft-ban maximalizált az
                                    állam.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>