<body>
    <div class=container>
        <h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">Szakterületeim részletesebben</div>
                <div class="col-md-1"></div>
            </div>
        </h2>
        <br>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                Az alábbi legördülő menükben részletesebben is megismerheti a biztosítási termékeket. A menükre
                kattintva
                kinyílik az aktuális termék téjékoztatója. Egyszerre csak egy termék kiválasztása lehetséges.
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Nyugdíjbiztosítás
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                A <strong>rendszeres díjfizetésű nyugdíjbiztosításokkal</strong> nemcsak megtakaríthat,
                                hanem
                                biztosítási
                                védelemben is részesülhet. Az élet-, baleset-, egészségbiztosítási védelmet rugalmasan,
                                saját
                                igényei szerint alakíthatja. A nyugdíjbiztosítás szolgáltatást nyújt a biztosítás
                                megkötésekor
                                érvényes nyugdíjkorhatár elérésekor, nyugdíjba vonuláskor, 39%-ot meghaladó
                                egészségkárosodás
                                esetén és a biztosított halála esetén.
                                <br>
                                Egy jól megválasztott nyugdíjbiztosítás segít abban, hogy
                                nyugdíjas éveire anyagi alapokat teremtsen magának. Nemcsak egyszeri vagy rendszeres
                                díjak,
                                hanem az eseti díjak után is 20% adójóváírást vehet igénybe, évente összesen maximum 130
                                000
                                Ft
                                értékben!
                                <br>
                                A nyugdíj sokak számára távolinak tűnik, pedig ha boldogan szeretnénk tölteni azokat
                                az éveket, időben gondolnunk kell az anyagi biztonság megteremtésére. Ha szeretne
                                évtizedek
                                múlva is a megszokott életszínvonalon élni, hódolni a hobbijának, kedvére utazni, és
                                gondtalanul
                                élvezni a családi életet, már most tehet érte.
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Életbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    A <strong>Generali MyLife Prémium</strong> rendszeres díjas, befektetési egységekhez
                                    kötött
                                    életbiztosítás a
                                    jövő legfontosabb élethelyzeteire kínál biztosítási és megtakarítási megoldást az
                                    egész
                                    családnak. A választható eszközalapokból az igényeinek leginkább megfelelő
                                    befektetési
                                    portfóliót állíthatja össze, jó döntésekkel, kedvező piaci körülmények között
                                    növelheti
                                    megtakarítását. A többféle eszközalap választásával bármikor alkalmazkodhat a piaci
                                    változásokhoz, csökkentheti kockázatát.
                                    <br>
                                    Egy időben elindított megtakarítási program sokat
                                    segíthet Önnek abban, hogy könnyebben vehesse az előre látott, vagy akár a váratlan,
                                    anyagi
                                    jellegű akadályokat, hogy megvalósíthassa távoli céljait. Az idő előrehaladtával
                                    hűségjóváírást és vagyonarányos bónuszt kap, eseti befizetésekkel pedig tovább
                                    növelheti
                                    megtakarítását.
                                    <br>
                                    Megkötését annak javasoljuk, aki havonta legalább 15.000 Ft-ot félre tud
                                    tenni, és hosszú távú minimum 15 éves megtakarítási időszakban gondolkodik. Akinek
                                    fontos a
                                    biztosítási védelem, és szeretne gondoskodni gyermeke jövőjéről legyen szó
                                    tanulásról,
                                    esküvőről vagy az első lakás megszerzéséről.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Egészség- és balesetbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <strong>22 különböző szolgáltatás segítségével személyre szabhatja biztosítási
                                        védelmét</strong> az alábbi
                                    témakörökben: életbiztosítás, egészségbiztosítás és balesetbiztosítás. Pénzügyi
                                    segítséget
                                    kaphat baleset esetén, a leginkább félt betegségekkel vívott küzdelemben,
                                    lehetőséget
                                    adva a
                                    magasabb színvonalú egészségügyi ellátásra, azt követően pedig esélyt a mindennapi
                                    életbe
                                    való visszatérésre. Kritikus betegség diagnosztizálása esetén a biztosított
                                    kérésére,
                                    előrehozott szolgáltatásként kifizetjük a halál esetére vonatkozó biztosítási
                                    összeget,
                                    amelyet akár a gyógykezelésére is fordíthat. Kármentességi bónusz: a befizetett díj
                                    20%-a
                                    visszajár! Minimum 10 éves szerződés esetén, ha nem történt kárkifizetés, emellett a
                                    biztosítási összeget sem csökkentette, lejáratkor az addig befizetett díjak 20%-át
                                    visszafizetjük önnek.
                                    <br>
                                    Összeállíthatja, hogy pontosan milyen kockázatokra szeretne biztosítást kötni: és
                                    csak azért fizet, amire valóban szüksége van. Baleset vagy betegség esetén az adott
                                    időre
                                    járó táppénzt kiegészítheti, így pótolva kieső jövedelmét és javítva életminőségét.
                                    Váratlan
                                    tragédia után is megőrizheti a család életszínvonalát, így biztonságban tudhatja
                                    szeretteit.
                                    Daganatos betegség gyanúja esetén a diagnózis mielőbbi felállításában is segítséget
                                    nyújt a
                                    diagnosztikai szolgáltatás.
                                    <br>
                                    Azoknak javasoljuk, akik szeretnének felkészülni egy váratlan
                                    betegségre vagy balesetre, amely átmenetileg vagy véglegesen megváltoztatja az addig
                                    megszokott életünket. Hiszen bármikor történhet egy háztartási baleset,
                                    megsérülhetünk
                                    utazás közben, vagy kialakulhat egy betegség.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    Vagyonbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <strong>Vállalkozóként, cégvezetőként</strong> nem feledkezhetünk meg
                                    vagyontárgyaink,
                                    árukészletünk,
                                    szállítóeszközeink, műszaki berendezéseink, épületeink és a többi céges tulajdon, és
                                    természetesen munkavállalóink védelméről sem. Érdemes számba venni a vállalkozás
                                    legfontosabb vagyontárgyait, értékeit és ezzel egy időben gondosan mérlegelni a
                                    vállalkozást
                                    leginkább fenyegető veszélyeket.
                                    <br>
                                    Vagyonőr vállalati vagyonbiztosításunk megkötésekor saját
                                    szempontjai szerint választhatja ki azokat a kockázatokat, melyektől leginkább tart.
                                    Lehet
                                    ez egy vihar, egy eltört vízvezeték, betörés, a szállítójármű kirablása, egy
                                    súlyosabb
                                    üzemi
                                    baleset, tűzkár, betöréses lopás miatti üzembezárás, de talán joggal tarthat attól
                                    is,
                                    hogy
                                    munkavállalói kárt okoznak másnak, és vállalkozóként jogi tanácsadásra lehet
                                    szüksége.
                                    <br>
                                    A Vagyonőr vállalati vagyonbiztosítás esetében Ön dönti el, mire terjedjen ki
                                    biztosítása.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    Felelősségbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Felelősségbiztosítási szerződés alapján a biztosított követelheti, hogy a biztosító
                                    a
                                    szerződésben meghatározott mértékben és feltételek szerint mentesítse őt olyan kár
                                    megtérítése alól, amelyért jogszabály szerint felelős.
                                    <br>
                                    <strong>Általános felelősségbiztosítás:</strong> tevékenységi, munkáltatói,
                                    szolgáltatói,
                                    termékfelelősség-
                                    és környezetszennyezési felelősségbiztosítás.
                                    <br>
                                    <strong>Szakmai felelősségbiztosítás:</strong> Egészségügyi és szociális
                                    tevékenységre,
                                    állat-egészségügyi
                                    tevékenységre, könyvvizsgálók, adótanácsadók, könyvelők részére, építészeti és
                                    műszaki
                                    tervezésre, vagyonvédelmi vállalkozások részére.
                                    <br>
                                    <strong>Kollektív jogvédelem és munkáltatói felelősségbiztosítás:</strong> A
                                    munkavállalók
                                    és szakszervezeti
                                    tagok védelmében.

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    Gépbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <strong>Géptörés biztosítás:</strong> alapvetően ipari, mezőgazdasági gépek, termelő
                                    berendezések,
                                    mozgatható, illetve önjáró gépek, berendezések, gépjármű felépítmények biztosítása.
                                    Ez a
                                    biztosítás a hagyományos vagyonbiztosítás mellé ajánlható kiegészítő biztosításként,
                                    de
                                    önállóan is köthető. Mozgatható, illetve önjáró gépek, berendezések esetén a
                                    biztosítás
                                    kiterjed a mozgás közben fellépő károk (pl.: ütközés, lezuhanás, stb.) térítésére
                                    is.
                                    Önjáró
                                    munkagépek esetén töréskárok szempontjából ez a biztosítás casco-hoz hasonló
                                    fedezetet
                                    nyújt.
                                    <br>
                                    <strong>Genelektronik biztosítás:</strong> Elektronikus berendezések és készülékek
                                    összkockázatú biztosítása.
                                    Biztosítható vagyontárgyak: telepített vagy hordozható elektronikus berendezések,
                                    műszerek,
                                    számítógépek, kommunikációs berendezések, valamint külső adathordozók. A biztosítás
                                    az
                                    elemi
                                    kár és a betöréses lopás kockázatokon kívül egyéb gyakori veszélyforrásokra is
                                    kiterjed
                                    a
                                    biztosítási védelem pl.: kezelési hiba, ügyetlenség, rosszindulatú rongálás,külső
                                    mechanikus
                                    hatásból származó töréskárok,légköri elektromosság hatásai. Hordozható berendezések
                                    (laptop)
                                    esetén lehetőség van a szállítás közben fellépő károk térítésére is.
                                    <br>
                                    <strong>Géptörés-üzemszünet kiegészítő biztosítás:</strong> A nagyértékű gépsorok,
                                    technológiai berendezések
                                    géptörés biztosítása mellé ajánljuk kiegészítésként. A biztosítható költségek és
                                    kiadások:
                                    az alapbiztosításban (géptörés) biztosított berendezés biztosítási esemény
                                    következtében
                                    fellépő sérülésére megsemmisülésére visszavezethető fellépő teljes, vagy részleges
                                    üzemszünet esetén a kieső nyereségre ill. az ekkor is meglévő fix költségekre
                                    vonatkozik
                                    a
                                    fedezet.
                                    <br>
                                    <strong>Szállítmány:</strong> az önjáró gépek szállítójárművön történő szállítása
                                    során
                                    fellépő káresemények
                                    egy választható kiegészítő szállítmánybiztosítás keretén belül térülnek. A fedezetet
                                    önállóan nem, csak az alapfedezettel (géptörés) együtt érvényes.
                                    <br>
                                    <strong>Felelősség:</strong> az önjáró gépek munkavégzése során, a harmadik
                                    személynek
                                    okozott károkra a
                                    fedezetet egy választható, kiegészítő felelősségbiztosítás keretén belül kínáljuk. A
                                    fedezetet önállóan nem csak az alapfedezettel (géptörés) együtt érvényes.

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                    Gépjárműbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <strong>KGFB, azaz kötelező gépjármű- és felelősségbiztosítás:</strong>
                                    <br>
                                    Minden autó(s) más… és a biztonság terén is más elvárásaink vannak. Ezért kínálunk
                                    felelősségbiztosításunkhoz számos kiegészítő szolgáltatást, amellyel egyéni
                                    igényeinek
                                    megfelelően alakíthatja biztosítását. A kiegészítő biztosítások választásával baj
                                    esetén
                                    nem
                                    csak az ön által másnak okozott károkat térítjük meg, de önnek is segítséget
                                    nyújtunk.
                                    Elég
                                    egy óvatlan pillanat, és a baj sajnos gyorsan megtörténik. A Generali kötelező
                                    gépjármű-felelősségbiztosítás megtéríti a másnak okozott károkat, kiegészítő
                                    szolgáltatásainkkal pedig megkímélheti magát a felesleges bosszúságtól. Jelentősen
                                    csökkentheti felelősségbiztosítása díját a 7 féle kedvezménynek köszönhetően. Az
                                    Autós
                                    segélyvonal, az Autóstárs jogvédelem biztosítás és a Bennülők balesetbiztosítás
                                    szolgáltatási szinttől függően díjmentesen is elérhető.
                                    <br>
                                    A jogszabályok értelmében mindenki szerződésre kötelezett, aki a gépjármű forgalmi
                                    engedélybe bejegyezett üzembentartóként szerepel. Azoknak, akik saját magukat,
                                    illetve
                                    kocsijukat is szeretnék biztonságban tudni, és akiknek szükségük van egy megbízható
                                    társra
                                    az autójukkal kapcsolatos problémák gyors és egyszerű megoldásában.
                                    <br><br>
                                    <strong>CASCO biztosítás:</strong>
                                    <br>
                                    A Generali Casco kötésekor 6 féle alapbiztosítás közül választhatja ki a
                                    legmegfelelőbbet,
                                    legyen szó fiatalabb vagy idősebb autóról. Az alapbiztosítás kiválasztása után
                                    biztosítási
                                    védelmét különböző csomagokkal, kiegészítő szolgáltatásokkal növelheti. Idősebb
                                    autójára
                                    választhat ECO cascót, melynek díját úgy alakítottuk ki, hogy azoknak is biztonságot
                                    nyújtson, akik az esetleges magas casco díjak miatt már nem tudnák biztosítani
                                    védelmüket.
                                    <br>
                                    A kármentességet jutalmazzuk! Ha ön kármentes, casco kedvezményt vehet igénybe,
                                    amivel
                                    jelentősen csökkentheti biztosításának díját. Választhat teljes körű és rész casco
                                    lehetőségek közül is, előbbi esetében úgy állíthatja össze csomagjait, amire az
                                    autózás
                                    során igazán szüksége lehet. Rugalmas és ügyfélbarát kárrendezés, gyors és online
                                    ügyintézés, 24 órás segítségnyújtás kölcsönautó, sofőrszolgálat és további 13 féle
                                    szolgáltatás várja a maximális biztonság érdekében.
                                    <br>
                                    Bárkinek ajánljuk, aki rendszeresen vezet, vagy már megtapasztalta korábban, hogy
                                    mennyi
                                    kiadással, fárasztó ügyintézéssel, kellemetlenséggel jár, ha baj történik az
                                    autójával.
                                    Emellett azoknak is ideális választás, akik kiegészítő szolgáltatásainknak
                                    köszönhetően
                                    műszaki hiba vagy jogi probléma felmerülése esetén is szeretnének hatékony és gyors
                                    segítséget.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEight" aria-expanded="false"
                                    aria-controls="flush-collapseEight">
                                    Lakásbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseEight" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <strong>4 féle Generali otthonbiztosítás</strong> és számos kiegészítő szolgáltatás
                                    közül
                                    választhat! 37%
                                    alapdíj kedvezmény is elérhető összeadódó kedvezményeink révén. Online bankol?
                                    Webshopban
                                    vásárol? Fenn van a közösségi oldalakon? Csökkentse az online világ kockázatait
                                    Cyber
                                    biztosítási csomagunkkal!
                                    <br>
                                    Egyes esetekben real time kárrendezéssel és iparos ajánlással
                                    tesszük kényelmesebbé és gyorsabbá kárrendezésünk. Mestervonal 24 szolgáltatásunk
                                    akkor
                                    és
                                    ott segít, amikor a legnagyobb szükség van rá: szakembert küldünk, ha például
                                    beletörik
                                    a
                                    kulcs a zárba, vagy dugulást kell elhárítani.
                                    <br>
                                    Védelemben részesít többek között viharkár,
                                    vezetékes vízkár, üvegkár vagy betöréses lopás ellen, csak hogy a leggyakoribb
                                    veszélyeket
                                    említsük. Többek között okos otthon csomagot, Smart okos eszköz biztosítást,
                                    háztartási
                                    és
                                    számítástechnikai eszközökre kiterjesztett garancia biztosítást is igénybe vehet.
                                    <br>
                                    Mindenkinek ajánljuk, aki biztonságban szeretné tudni otthonát.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseNine" aria-expanded="false"
                                    aria-controls="flush-collapseNine">
                                    Társasházbiztosítás
                                </button>
                            </h2>
                            <div id="flush-collapseNine" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    A <strong>lakóközösségek számára</strong> sem álom a testre szabható, előnyös
                                    biztosítási
                                    forma megtalálása!
                                    Széleskörű biztosítási szolgáltatásokat és korrekt, szakszerű kárrendezést kínálunk
                                    a
                                    társasházak, lakásszövetkezetek számára is! A biztosításban széles körű védelmet
                                    nyújtunk.
                                    <br>
                                    Testre szabható, 12 kiegészítő biztosítás, valamint 8 minicsomag közül lehet
                                    választani.
                                    Külön díj nélkül kínáljuk a Közös képviselők felelősségbiztosítását, egy
                                    épületkezelő és
                                    a
                                    Közös tulajdonú ingóságok biztosítását.
                                    <br>
                                    15%-os díjkedvezményt nyújtunk, ha a társasház a biztosítást három éves tartammal
                                    köti.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <br>
</body>