<body>
    <div class=container>
        <h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">Adatkezelési szabályzat</div>
                <div class="col-md-1"></div>
            </div>
        </h2>
        <br>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h4>Az téjékoztató célja és hatálya:</h4>
                <p>
                    <strong>Cél:</strong> rögzíteni a Kaló Boglárka által alkalmazott adatvédelmi és adatkezelési
                    elveket,
                    amelyet mint adatkezelő magára nézve kötelező erővel ismer el.
                    <br>
                    <strong>Hatály:</strong> az adatkezelési tájékoztató a jelen oldalhoz kapcsolódó adatkezelésekre
                    terjed
                    ki, visszavonásig érvényes.
                </p>

                <h4>Az adatkezelő személye:</h4>
                <p>
                    <strong>Név (adatvédelmi felelős):</strong>Kaló Boglárka
                    <br>
                    <strong>Székhely:</strong> 3600 Ózd, Újváros tér 8. 8/3.
                </p>

                <h4>A tájékoztató irányadó jogszabályai:</h4>
                <p>
                    <li>az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.) a természetes
                        személyeknek
                        a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad
                        áramlásáról,
                        valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, GDPR)
                    </li>
                    <li>az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII. törvény
                        (Infotv.)</li>
                    <li>a biztosítási tevékenységről szóló 2014. évi LXXXVIII. törvény (Bit.)</li>
                    <li>a hitelintézetekről és a pénzügyi vállalkozásokról szóló 2013. évi CCXXXVII. törvény (Hpt.)</li>
                    <li>a Polgári Törvénykönyvről szóló 2013. évi V. törvény (Ptk.)</li>
                    <li>a számvitelről szóló 2000. évi C. törvény (Számv.tv.)</li>
                    <li>az elektronikus hírközlésről szóló 2001. évi CVIII. törvény (Eht.)</li>
                    <li>a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi
                        XLVIII.
                        törvény (Grt.)</li>
                    <li>a kutatás és közvetlen üzletszerzés célját szolgáló név- és lakcímadatok kezeléséről szóló 1995.
                        évi
                        CXIX. törvény.</li>
                </p>

                <h4>Fogalmak:</h4>
                <p>
                    <strong>GDPR (General Data Protection Regulation):</strong> az Európai Unió új Adatvédelmi
                    Rendelete.
                    <br>
                    <strong>Személyes adat:</strong> azonosított vagy azonosítható természetes személyre (érintett)
                    vonatkozó bármely információ; azonosítható az a természetes személy, aki közvetlen vagy közvetett
                    módon,
                    különösen valamely azonosító, például név, szám, helymeghatározó adat, online azonosító vagy a
                    természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági, kulturális vagy szociális
                    azonosságára vonatkozó egy vagy több tényező alapján azonosítható.
                    <br>
                    <strong>Adatkezelés:</strong> a személyes adatokon vagy adatállományokon automatizált vagy nem
                    automatizált módon végzett bármely művelet vagy műveletek összessége, így a gyűjtés, rögzítés,
                    rendszerezés, tagolás, tárolás, átalakítás vagy megváltoztatás, lekérdezés, betekintés,
                    felhasználás,
                    közlés, továbbítás, terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, összehangolás
                    vagy
                    összekapcsolás, korlátozás, törlés, illetve megsemmisítés.
                    <br>
                    <strong>Hozzájárulás:</strong> az érintett akaratának önkéntes, konkrét és megfelelő tájékoztatáson
                    alapuló és egyértelmű kinyilvánítása, amellyel az érintett nyilatkozat vagy a megerősítést
                    félreérthetetlenül kifejező cselekedet útján jelzi, hogy beleegyezését adja az őt érintő személyes
                    adatok kezeléséhez.
                    <br>
                    <strong>Adatkezelő:</strong> az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy
                    bármely egyéb szerv, amely a személyes adatok kezelésének céljait és eszközeit önállóan vagy
                    másokkal
                    együtt meghatározza. Ha az adatkezelés céljait és eszközeit az uniós vagy a tagállami jog határozza
                    meg,
                    az adatkezelőt vagy az adatkezelő kijelölésére vonatkozó különös szempontokat az uniós vagy a
                    tagállami
                    jog is meghatározhatja.
                    <br>
                    <strong>Adatfeldolgozó:</strong> az a természetes vagy jogi személy, közhatalmi szerv, ügynökség
                    vagy
                    bármely egyéb szerv, amely az adatkezelő nevében személyes adatokat kezel.
                    <br>
                    <strong>Harmadik fél:</strong> az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy
                    bármely egyéb szerv, amely nem azonos az érintettel, az adatkezelővel, az adatfeldolgozóval vagy
                    azokkal
                    a személyekkel, akik az adatkezelő vagy adatfeldolgozó közvetlen irányítása alatt a személyes adatok
                    kezelésére felhatalmazást kaptak.
                    <br>
                    <strong>Adatkezelés korlátozás:</strong> a tárolt személyes adatok megjelölése jövőbeli kezelésük
                    korlátozása céljából.
                    <br>
                    <strong>Adattörlés:</strong> az adatok felismerhetetlenné tétele oly módon, hogy a helyreállításuk
                    többé
                    nem lehetséges.
                    <br>
                    <strong>Adatvédelmi incidens:</strong> a biztonság olyan sérülése, amely a továbbított, tárolt vagy
                    más
                    módon kezelt személyes adatok véletlen vagy jogellenes megsemmisítését, elvesztését,
                    megváltoztatását,
                    jogosulatlan közlését vagy az azokhoz való jogosulatlan hozzáférést eredményezi.
                </p>

                <h4>Az adatkezelés jogalapja:</h4>
                <p>
                    Az érintett önkéntes hozzájárulása, GDPR 6. cikk (1) bekezdés a) pontja szerint.
                </p>

                <h4>Az adatkezelés irányelvei:</h4>
                <p>
                    A személyes adatok kezelését jogszerűen és tisztességesen, valamint az érintett számára átlátható
                    módon
                    kell végezni (“jogszerűség, tisztességes eljárás és átláthatóság”).
                    <br>
                    Az adatok gyűjtése csak meghatározott, egyértelmű és jogszerű célból történjen, és azokat ne
                    kezeljék
                    ezekkel a célokkal össze nem egyeztethető módon. Nem minősül az eredeti céllal össze nem
                    egyeztethetőnek
                    a közérdekű archiválás céljából, tudományos és történelmi kutatási célból vagy statisztikai célból
                    történő további adatkezelés (“célhoz kötöttség”).
                    <br>
                    Az adatoknak pontosnak és szükség esetén naprakésznek kell lenniük; minden ésszerű intézkedést meg
                    kell
                    tenni annak érdekében, hogy az adatkezelés céljai szempontjából pontatlan személyes adatokat
                    haladéktalanul töröljék vagy helyesbítsék (“pontosság”).
                    <br>
                    Az adatkezelő felelős a fentiek megfelelésért, továbbá képesnek kell lennie e megfelelés igazolására
                    (“elszámoltathatóság”).
                    <br>
                    Az adatkezelés céljai szempontjából megfelelőek és relevánsak kell, hogy legyenek, és a szükségesre
                    kell
                    korlátozódniuk (“adattakarékosság”).
                    <br>
                    A tárolásának olyan formában kell történnie, amely az érintettek azonosítását csak a személyes
                    adatok
                    kezelése céljainak eléréséhez szükséges ideig teszi lehetővé; a személyes adatok ennél hosszabb
                    ideig
                    történő tárolására csak akkor kerülhet sor, amennyiben a személyes adatok kezelésére közérdekű
                    archiválás céljából, tudományos és történelmi kutatási célból vagy statisztikai célból kerül majd
                    sor
                    (“korlátozott tárolhatóság”).
                    <br>
                    A kezelést oly módon kell végezni, hogy megfelelő technikai vagy szervezési intézkedések
                    alkalmazásával
                    biztosítva legyen a személyes adatok megfelelő biztonsága, az adatok jogosulatlan vagy jogellenes
                    kezelésével, véletlen elvesztésével, megsemmisítésével vagy károsodásával szembeni védelmet is
                    ideértve
                    (“integritás és bizalmas jelleg”).
                </p>

                <h4>Az adatkezelés célja:</h4>
                <p>
                    Az Adatkezelő személyes adatot kizárólag meghatározott célból kezel. Az adatok felvétele és kezelése
                    tisztességesen és törvényesen történik. Az Adatkezelő törekszik arra, hogy csak olyan személyes adat
                    kezelésére kerüljön sor, amely az adatkezelés céljának megvalósulásához elengedhetetlen, a cél
                    elérésére
                    alkalmas. A személyes adat csak a cél megvalósulásához szükséges mértékben és ideig kezelhető.
                    <br>
                    <strong>Cél:</strong> kapcsolatfelvétel, kapcsolat tartás, információ közlés, információ kérés
                    <br>
                    <strong>Kezelt adatok köre:</strong> név (azonosítás), e-mail cím (kapcsolattartás), telefonszám
                    (kapcsolattartás)
                </p>

                <h4>Az adatkezelés módja:</h4>
                <p>
                    Az érintett adatait Adatkezelő a saját szerverein, valamint ideiglenesen az Adatkezelő számítógépein
                    tárolja. Az érintetek személyes adatainak kezeléséhez kizárólag az Adatkezelőnek van lehetősége.
                    <br>
                    Az adatszolgáltatás minden esetben önkéntes, azaz az érintett szabadon dönthet arról, hogy megadja-e
                    a
                    kért személyes adatait. Amennyiben ahhoz az érintett hozzájárul, az Adatkezelő az adatokat a
                    hatályos
                    jogszabályoknak megfelelően, valamint az érintettek hozzájárulásának korlátai között kezeli.
                    <br>
                    A kezelt személyes adatok jogosulatlan felhasználása és az azzal kapcsolatos visszaélések elkerülése
                    érdekében Adatkezelő kiterjedt műszaki és üzemeltetési biztonsági intézkedéseket alkalmaz.
                    Biztonsági
                    eljárásainkat rendszeresen ellenőrizzük és a technológiai fejlődéssel összhangban fejlesztjük.
                </p>

                <h4>Adatok törlése:</h4>
                <p>
                    Adatok törlésének határideje: az utolsó kapcsolatfelvételtől számított 2 év.
                    <br>
                    A személyes adatok törlését vagy módosítását az alábbi módokon lehet kezdeményezni:
                    <br>
                    <li>postai úton: 3600 Ózd, Újváros tér 8. 8/3. címre küldött levél által</li>
                    <li>e-mail útján kaloboglarka84@gmail.com címre küldött üzenet által</li>
                </p>


                <h4>Technikai adatok és cookie-k kezelése:</h4>
                <p>
                    Mivel a természetes személyek összefüggésbe hozhatók az általuk használt készülékek, alkalmazások,
                    eszközök és protokollok által rendelkezésre bocsátott online azonosítókkal, például IP-címekkel és
                    cookie-azonosítókkal, ezért ezek az adatok egyéb információkkal összekapcsolva alkalmasak és
                    felhasználhatók a természetes személyek profiljának létrehozására és az adott személy azonosítására.
                    <br>
                    A cookie-k alkalmasak továbbá arra, hogy megjegyezzék a beállításokat, így nem kell azokat a
                    felhasználónak újra rögzítenie, ha egy új oldalra lép, emlékeznek a korábban bevitt adatokra, ezért
                    azokat nem kell újra begépelni, elemzik a honlap használatát annak érdekében, hogy az így nyert
                    információk felhasználásával végrehajtott fejlesztések eredményeként az a lehető legnagyobb
                    mértékben a
                    felhasználó elvárásai szerint működjön, a felhasználó könnyen megtalálja a keresett információt, és
                    figyelemmel kísérik hirdetéseink hatékonyságát.
                    <br>
                    Amennyiben a Weboldalon az Adatkezelő külső webes szolgáltatások segítségével jelenít meg különféle
                    tartalmakat, az néhány olyan süti tárolását eredményezheti, melyeket nem az Adatkezelő felügyel, így
                    nincs befolyása arra, hogy ezek a weboldalak, illetve külső domainek milyen adatokat gyűjtenek. Ezen
                    cookie-król az adott szolgáltatásra vonatkozó szabályzatok adnak tájékoztatást. A felhasználó
                    beállíthatja webes keresőjét úgy, hogy elfogadjon minden sütit, elutasítsa mindet, vagy értesítse a
                    felhasználót, ha süti érkezik a gépére. A beállítási lehetőségek általában a böngésző “Opciók” vagy
                    “Beállítások” menüpontjában találhatók. Az angol nyelvű www.aboutcookies.org weboldalon található
                    részletes tájékoztató szintén segít a különböző böngészőkben történő beállításokban.
                </p>


                <h4>Adatbiztonság:</h4>
                <p>
                    Az Adatkezelő gondoskodik az adatok biztonságáról, megteszi azokat a technikai és szervezési
                    intézkedéseket és kialakítja azokat az eljárási szabályokat, amelyek az irányadó jogszabályok, adat-
                    és
                    titokvédelmi szabályok érvényre juttatásához szükségesek. Az Adatkezelő az adatokat megfelelő
                    intézkedésekkel védi a jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal,
                    törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés, továbbá az alkalmazott
                    technika
                    megváltozásából fakadó hozzáférhetetlenné válás ellen.
                    <br>
                    Az Adatkezelő az általa kezelt adatokat az irányadó jogszabályoknak megfelelően tartja nyilván,
                    biztosítva, hogy az adatokat csak azok a munkavállalók, és egyéb az Adatkezelő érdekkörében eljáró
                    személyek (adatfeldolgozók) ismerhessék meg, akiknek erre munkakörük, feladatuk ellátása érdekében
                    szükségük van. Az adatokat a munkavállaló szervezetén belül csak naplózás mellett lehet megismerni.
                    Az
                    adatkezelő munkavállalói egyedi kereséseket, az adatokon egyedi műveleteket csak a Felhasználó
                    kérésére
                    végeznek, vagy abban az esetben, ha ez a szolgáltatás nyújtása érdekében szükséges.
                </p>


                <h4>Adattovábbítás:</h4>
                <p>
                    Az Adatkezelő személyes adatot csak akkor továbbít harmadik személy részére, ha ahhoz az érintett
                    egyértelműen – a továbbított adatkör és az adattovábbítás címzettje ismeretében – hozzájárult, vagy
                    az
                    adattovábbításra törvény felhatalmazást ad. Az Adatkezelő az adattovábbításokat minden esetben
                    dokumentálja, és az adattovábbításokról nyilvántartást vezet.
                </p>


                <h4>A személyes adat törlésre kerül:</h4>
                <p>
                    <li>ha a kezelése jogellenes: Amennyiben kiderül, hogy az adatok kezelése jogellenesen történik, az
                        Adatkezelő a törlést haladéktalanul végrehajtja.</li>
                    <li>az érintett kéri (a jogszabályon alapuló adatkezelések kivételével): Az érintett önkéntes
                        hozzájárulása alapján kezelt adatok törlését az érintett kérheti. Ez esetben az Adatkezelő az
                        adatokat
                        törli.</li>
                    <li>az adat hiányos vagy téves – és ez az állapot jogszerűen nem orvosolható –, feltéve, hogy a
                        törlést törvény nem zárja ki.</li>
                    <li>az adatkezelés célja megszűnt, vagy az adatok tárolásának törvényben meghatározott határideje
                        lejárt. Mivel az érintett részére az Adatkezelő folyamatos szolgáltatást nyújt, a felek
                        kapcsolata
                        időhatárhoz nem kötött. Mindezek alapján – az érintett kérésének hiányában – az Adatkezelő
                        mindaddig
                        kezeli az adatokat, amig az Adatkezelő és az érintett közötti kapcsolat fennáll, és ameddig az
                        adatkezelő az érintett számára szolgáltatást nyújthat. Minden egyéb adatot az Adatkezelő töröl,
                        ha
                        nyilvánvaló, hogy az adatok felhasználására a jövőben nem kerül sor, vagyis az adatkezelés célja
                        megszűnt.</li>
                    <li>azt a bíróság vagy a Nemzeti Adatvédelmi és Információszabadság Hatóság elrendelte: Amennyiben
                        bíróság vagy a Nemzeti Adatvédelmi és Információszabadság jogerősen elrendeli az adatok
                        törlését, a
                        törlést az Adatkezelő végrehajtja. Törlés helyett az Adatkezelő – az érintett tájékoztatása
                        mellett
                        – zárolja a személyes adatot, ha az érintett ezt kéri, vagy ha a rendelkezésére álló információk
                        alapján feltételezhető, hogy a törlés sértené az érintett jogos érdekeit. Az így zárolt
                        személyes
                        adat
                        kizárólag addig kezelhető, ameddig fennáll az az adatkezelési cél, amely a személyes adat
                        törlését
                        kizárta. Az
                        Adatkezelő megjelöli az általa kezelt személyes adatot, ha az érintett vitatja annak helyességét
                        vagy pontosságát, de a vitatott személyes adat helytelensége vagy pontatlansága nem állapítható
                        meg
                        egyértelműen. A jogszabály által elrendelt adatkezelések esetében az adatok törlésére a
                        jogszabály
                        rendelkezése az irányadó. A törlés esetén az Adatkezelő az adatokat személyazonosításra
                        alkalmatlanná teszi. Amennyiben jogszabály azt előírja, az Adatkezelő a személyes adatot
                        tartalmazó
                        adathordozót
                        megsemmisíti.</li>
                </p>

                <h4>Ügyfélkapcsolatok:</h4>
                <p>
                    Amennyiben az adatkezelő szolgáltatásaink igénybevétele során kérdés merülne fel, esetleg problémája
                    lenne az érintettnek, kapcsolatba léphet az adatkezelővel.
                    <br>
                    Adatkezelő a beérkezett e-maileket, üzeneteket, telefonon, Facebook-on stb. megadott adatokat az
                    érdeklődő nevével és e-mail címével, valamint más, önként megadott személyes adatával együtt, az
                    adatközléstől számított legfeljebb 2 év elteltével törli.
                    <br>
                    E tájékoztatóban fel nem sorolt adatkezelésekről az adat felvételekor adunk tájékoztatást.
                    <br>
                    Kivételes hatósági megkeresésre, illetőleg jogszabály felhatalmazása alapján más szervek megkeresése
                    esetén a Szolgáltató köteles tájékoztatás adására, adatok közlésére, átadására, illetőleg iratok
                    rendelkezésre bocsátására.
                    <br>
                    A Szolgáltató ezen esetekben a megkereső részére – amennyiben az a pontos célt és az adatok körét
                    megjelölte – személyes adatot csak annyit és olyan mértékben ad ki, amely a megkeresés céljának
                    megvalósításához elengedhetetlenül szükséges.
                </p>

                <h4>Jogok:</h4>
                <p>
                    <li><strong>A tájékoztatás kéréshez való jog:</strong> Bármely személy a megadott elérhetőségeken
                        keresztül tájékoztatást kérhet arról, hogy a szervezet milyen adatait, milyen jogalapon, milyen
                        adatkezelési cél miatt, milyen forrásból, mennyi ideig kezeli. A kérelmére haladéktalanul, de
                        legfeljebb 30 napon belül, a megadott elérhetőségre tájékoztatást kell küldeni.</li>
                    <li><strong>A helyesbítéshez való jog:</strong> Bármely személy a megadott elérhetőségeken keresztül
                        kérheti bármely adatának módosítását. Erről kérelmére haladéktalanul, de legfeljebb 30 napon
                        belül
                        intézkedni kell és a megadott elérhetőségre tájékoztatást kell küldeni.</li>
                    <li><strong>A törléshez való jog:</strong> Bármely személy a megadott elérhetőségeken keresztül
                        kérheti
                        adatának törlését. Kérelmére ezt haladéktalanul, de legfeljebb 30 napon belül meg kell tenni és
                        a
                        megadott elérhetőségre tájékoztatást kell küldeni. Azok az adatok, amelyeket jogi, törvényi vagy
                        szerződésbeli kötelezettségből kell tárolnunk a kereskedelmi nyilvántartás megőrzéséhez, törlés
                        helyett zárolásra kerülnek, hogy megakadályozzuk más célra való felhasználásukat.</li>
                    <li><strong>A zároláshoz, korlátozáshoz való jog:</strong> Bármely személy a megadott
                        elérhetőségeken
                        keresztül kérheti adatának zárolását. A zárolás addig tart, amíg a megjelölt indok szükségessé
                        teszi
                        az adatok tárolását. A kérelemre ezt haladéktalanul, de legfeljebb 30 napon belül meg kell tenni
                        és
                        a megadott elérhetőségre tájékoztatást kell küldeni.</li>
                    <li><strong>A tiltakozáshoz való jog:</strong> Bármely személy a megadott elérhetőségeken keresztül
                        tiltakozhat az adatkezelés ellen. A tiltakozást a kérelem benyújtásától számított legrövidebb
                        időn
                        belül, de legfeljebb 15 napon belül meg kell vizsgálni, annak megalapozottsága kérdésében
                        döntést
                        kell hozni és a döntésről a megadott elérhetőségre tájékoztatást kell küldeni.</li>
                </p>

                <h4>Záró rendelkezések:</h4>
                <p>
                    Az adatkezelő kötelezi magát, hogy gondoskodik az általa kezelt személyes adatok biztonságáról,
                    megteszi
                    azokat a technikai intézkedéseket, amelyek biztosítják, hogy a felvett, tárolt, illetve kezelt
                    adatok
                    védettek legyenek, illetőleg mindent megtesz annak érdekében, hogy megakadályozza azok
                    megsemmisülését,
                    jogosulatlan felhasználását és jogosulatlan megváltoztatását.
                    <br>
                    Az adatkezelő fenntartja a jogot, hogy jelen nyilatkozatot a felhasználók értesítése mellett
                    egyoldalúan
                    módosítsa. Az adatkezelő jelen adatvédelmi nyilatkozat módosításairól szóló tájékoztatást
                    közzéteszi. A
                    módosítás hatályba lépését követően a felhasználó a szolgáltatás használatával, ráutaló
                    magatartással
                    tudomásul veszi a módosított nyilatkozatban foglaltakat.
                </p>

                <h4>A tájékoztatóban nem meghatározott kérdések:</h4>
                <p>
                    A nem meghatározott kérdésekben a GDPR, illetve a 4. pontban felsorolt jogszabályok rendelkezései az
                    irányadók.
                </p>

                <h4>Adatkezeléssel kapcsolatos jogok:</h4>
                <p>
                    Az adatkezeléssel kapcsolatos jogérvényesítési lehetőség:
                    <br><br>
                    <strong>Nemzeti Adatvédelmi és Információszabadság Hatóság</strong>
                    <br>
                    <strong>Postacím:</strong> 1530 Budapest, Pf.: 5.
                    <br>
                    <strong>Cím:</strong> 1125 Budapest, Szilágyi Erzsébet fasor 22/c.
                    <br>
                    <strong>Telefon:</strong> +36-1-391-1400
                    <br>
                    <strong>Fax:</strong> +36-1-391-1410
                    <br>
                    <strong>E-mail:</strong> ugyfelszolgalat@naih.hu
                    <br>
                    <strong>Web:</strong> https://naih.hu
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
    </div>
</body>