<div class=container>
    <br>
    <h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">Közösségi médiák:</div>
            <div class="col-md-1"></div>
        </div>
    </h2>
    <br>

    <media>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
        </head>

        <body data-rsssl=1>
            <div class="social-icons">
                <!-- Toggle Button -->
                <input type="checkbox" id="check">
                <label for="check">
                    <div id="button"><i class="fas fa-share"></i></div>
                </label>
                <!-- Social icons list -->
                <div class="icon-list">
                    <ul>
                        <li><a href="https://www.facebook.com/kaloboglarka" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/kaloboglarka84/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="https://twitter.com/generali" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://hu.linkedin.com/company/generali-providencia-zrt." target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.youtube.com/user/generalihun" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                        <li><a href="https://www.pinterest.at/generalioesterreich/" target="_blank"><i
                                    class="fab fa-pinterest-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </body>

        </html>

    </media>

    <br><br>

    <h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">Elérhetőségeim:</div>
            <div class="col-md-1"></div>
        </div>
    </h2>
    <br>

    <body>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>
                    <strong>Név: </strong>Kaló Boglárka
                    <br>
                    <strong>Cím: </strong>3600 Ózd, Újváros tér 8. 8/3.
                    <br>
                    <strong>Telefonszám: </strong>+36-20-482-4875
                    <br>
                    <strong>E-mail: </strong>kaloboglarka84@gmail.com
                </h3>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
    </body>

    <h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">A térképre kattintva a Google Maps elnavigál hozzám:</div>
            <div class="col-md-1"></div>
        </div>
    </h2>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="https://www.google.com/maps/search/3600+%C3%93zd+%C3%9Ajv%C3%A1ros+t%C3%A9r+8.+8%2F3/@48.2258809,20.2548654,17z/data=!3m1!4b1"
                target="_blank">
                <img src="/assets/terkep.JPG" style="width:800px;">
            </a>  
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
</div>